---
const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

import { db } from "@/lib/db";
import DashboadLayout from "@/layouts/DashboardLayout.astro";
import DashboardContainer from "@/components/DashboardContainer.astro";
import RegisterMatchForm from "@/components/RegisterMatchForm.astro";

const { rows: duos } = await db.execute(`
      SELECT * FROM duos`);
const { rows: phases } = await db.execute(`
      SELECT * FROM phases`);
---

<DashboadLayout
  title="Dashboard - Registro"
  description="Registro para Torneo de las Fresas"
>
  <DashboardContainer>
    <div class="h-full flex flex-col justify-center">
      <h1 class="mb-4 text-4xl font-audioWide font-bold">
        Dashboard - Registro Matches
      </h1>
      <RegisterMatchForm duosList={duos} phasesList={phases} />
    </div>
  </DashboardContainer>
</DashboadLayout>
