---
const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/login");
}

import DashboadLayout from "@/layouts/DashboardLayout.astro";
import DashboardContainer from "@/components/DashboardContainer.astro";
import RegisterForm from "@/components/RegisterForm.astro";
---

<DashboadLayout
  title="Dashboard - Registro"
  description="Registro para Torneo de las Fresas"
>
  <DashboardContainer>
    <div class="h-full flex flex-col justify-center">
      <h1 class="mb-4 text-4xl font-audioWide font-bold">
        Dashboard - Registro
      </h1>
      <RegisterForm />
    </div>
  </DashboardContainer>
</DashboadLayout>
