@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #ff4545;
    --color-secondary: #ffcf40;
    --color-accent: #881414;
    --color-background: #111112;
    --color-content: #fff;

    /* Theme shadcn */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }

  html {
    font-family: "DM Sans Variable", sans-serif;
    scroll-behavior: smooth;
    background: var(--color-background);
    color: var(--color-content);
  }

  body {
    min-height: 100vh;
    min-height: 100dvh;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  p {
    text-wrap: pretty;
  }

  textarea {
    -webkit-form-sizing: content;
    -moz-form-sizing: content;
    form-sizing: content;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
  }

  @keyframes reveal {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }

  .animation__revealing {
    view-timeline-name: --revealing;
    view-timeline-axis: block;

    animation-timeline: --revealing;
    animation-name: reveal;

    animation-range: entry 15% cover 40%;
    animation-fill-mode: both;
  }
}
