---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Footer from "@/components/home/Footer.astro";
import DataGraphics from "@/components/DataGraphics.astro";
---

<Layout title="Torneo de las Fresas 2024" description="Torneo de las Freasas">
  <div
    class="grid-pattern-background relative"
    style="--_num-lines: 7vmin; --_heigh-pattern: 40vh;"
  >
    <div class="pt-14 px-8 md:px-10">
      <h1
        class="-skew-y-6 text-center font-bold font-audioWide text-3xl xs:text-4xl md:text-5xl"
      >
        Estadisticas del <strong class="text-color-primary">
          <br /> Torneo de las Fresas 2024</strong
        >
      </h1>
    </div>
  </div>

  <Container class:list={["max-w-7xl"]}>
    <DataGraphics />
  </Container>
  <Footer />
</Layout>
