---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/home/NavBar.astro";
import Hero from "@/components/home/Hero.astro";
import Rules from "@/components/home/Rules.astro";
import Agenda from "@/components/home/Agenda.astro";
import Sponsors from "@/components/home/Sponsors.astro";
import Awards from "@/components/home/Awards.astro";
import Shirt from "@/components/home/Shirt.astro";
import Footer from "@/components/home/Footer.astro";
---

<Layout title="Torneo de las Fresas 2024" description="Torneo de las Freasas">
  <div
    class="grid-pattern-background min-h-screen relative"
    style="--_num-lines: 7vmin;"
  >
    <NavBar />
    <Hero />
  </div>
  <Rules />
  <Agenda />
  <Awards />
  <Shirt />
  <Sponsors />
  <Footer />
</Layout>
