---
import Container from "@/components/Container.astro";
import CardTime from "@/components/home/CardTime.astro";

const agenda = [
  {
    title: " Recepci贸n de participantes",
    copy: "Hora receptiva para dar la bienvenida a los participantes",
    time: "8:00 am",
  },
  {
    title: " Cierre de Recepci贸n",
    copy: "Cierre de registro de asistencia de parejas",
    time: "8:30 am",
  },
  {
    title: "コ Inaguraci贸n del Torneo",
    copy: "Ceremonia de Inaguraci贸n e indicaciones completas a los y las participantes",
    time: "8:50 am",
  },
  {
    title: " Inicio de Fase de Grupos ",
    copy: "Inicia la fase de grupos a doble eliminaci贸n",
    time: "9:00 am",
  },
  {
    title: " Inicio de Fase Eliminatoria",
    copy: "Inicio a la recta final, fase eliminatoria (8vos, 4tos, semifinales)",
    time: "3:00 pm",
  },
  {
    title: " Gran Final del Torneo ",
    copy: "Damos paso a la gran final",
    time: "5:30 pm",
  },
];
---

<section class="my-36" id="agenda">
  <Container class:list={["max-w-7xl"]}>
    <hgroup class="mb-16">
      <h2
        class="py-2 text-4xl font-bold font-audioWide text-center bg-gradient-to-b from-neutral-200 to-red-300 text-transparent bg-clip-text xs:text-5xl"
      >
        Agenda
      </h2>
      <p
        class="mt-4 text-center text-base md:text-lg text-gray-200 max-w-5xl mx-auto"
      >
        Prep谩rate para <strong class=""
          >la segunda edici贸n del Torneo de las Fresas</strong
        > la competencia de frontenis que te har谩 sudar y disfrutar al m谩ximo. A
        continuaci贸n, te presentamos <strong>las reglas oficiales</strong> para que
        puedas ir calentando y preparando tu estrategia ganadora:
      </p>
    </hgroup>

    <!-- Agenda list items -->
    <ul class="animation__scroll-in grid gap-y-8 justify-center px-5">
      {
        agenda.map((item, index) => {
          return (
            <li style={`--index: ${index + 1}`}>
              <div class="backdrop-blur-sm">
                <CardTime
                  title={item.title}
                  time={item.time}
                  copy={item.copy}
                />
              </div>
            </li>
          );
        })
      }
    </ul>
  </Container>
</section>

<style define:vars={{ numItems: agenda.length }}>
  .animation__scroll-in {
    view-timeline-name: --scroll-in;
  }

  .animation__scroll-in > li {
    --index0: calc(var(--index) - 1);
    --reverse-index: calc(var(--numItems) - var(--index0));
    --reverse-index0: calc(var(--reverse-index) - 1);
    position: sticky;
    top: 0;
    padding-block-start: calc(var(--index) * 1rem);
  }

  .animation__scroll-in > li > div {
    --start-range: calc(var(--index0) / var(--numcards) * 100%);
    --end-range: calc(var(--index) / var(--numcards) * 100%);
    animation: linear scale forwards;
    animation-timeline: --scroll-in;
    animation-range: exit-crossing var(--start-range) exit-crossing
      var(--end-range);
    will-change: transform;
  }

  @keyframes scale {
    to {
      transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
    }
  }
</style>
