---
const awards = [
  {
    title: "Primer Lugar",
    mount: "$8,000",
    heightClass: "w-full sm:h-[340px]",
    textClass: "text-lg xs:text-2xl",
  },
  {
    title: "Segundo Lugar",
    mount: "$4,000",
    heightClass: "w-3/4 sm:h-72",
    textClass: "text-lg xs:text-xl",
  },
  {
    title: "Tercer Lugar",
    mount: "$2,000",
    heightClass: "w-3/5 sm:h-56",
    textClass: "text-base xs:text-lg",
  },
  {
    title: "Cuarto Lugar",
    mount: "$1,000",
    heightClass: "w-1/2 sm:h-40",
    textClass: "text-sm",
  },
];
---

<div class="px-5 sm:px-10 md:px-20">
  <div
    class="py-5 sm:py-0 sm:px-10 sm:w-fit mx-auto border-l-4 sm:border-l-0 sm:border-b-4 border-slate-600"
  >
    <ul
      class="w-full grid sm:grid-cols-[repeat(4,minmax(20px,_100px))] sm:justify-center sm:items-end gap-x-10 gap-y-5"
    >
      {
        awards.map((award) => {
          return (
            <li class="animation__to-up flex flex-row-reverse justify-end sm:justify-center items-center sm:flex-col relative gap-y-2 gap-x-3">
              <span class="font-bold text-lg drop-shadow-custom">
                {award.mount}
              </span>
              <div
                class={`${award.heightClass} flex sm:justify-center items-center px-2 py-4 sm:p-0 sm:w-full  bg-gradient-to-r sm:bg-gradient-to-t from-neutral-900 via-color-accent to-color-primary hover:contrast-125 transition-[filter]`}
              >
                <span
                  class={`${award.textClass} sm:[writing-mode:vertical-lr] uppercase font-audioWide select-none`}
                >
                  {award.title}
                </span>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<!--
after:content-['Primer_Lugar'] after:z-10 after:-top-1 after:left-[105%] after:absolute after:bg-slate-700/40 after:text-white after:block after:p-2 after:w-32 after:rounded after:text-sm after:text-center after:opacity-0 after:transition-opacity hover:after:opacity-100 -->

<style>
  .animation__to-up {
    view-timeline-name: --to-up;
    view-timeline-axis: block;

    animation-timeline: --to-up;
    animation-name: to-up;

    animation-range: entry 20% cover 40%;
    animation-fill-mode: both;
  }

  @keyframes to-up {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
</style>
