---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Match from "@/components/Match.astro";

export function getStaticPaths() {
  return [
    { params: { group: "A" } },
    { params: { group: "B" } },
    { params: { group: "C" } },
    { params: { group: "D" } },
    { params: { group: "E" } },
    { params: { group: "F" } },
  ];
}

const { group } = Astro.params;
---

<Layout title="Torneo de las Fresas 2024" description="Torneo de las Fresas">
  <div>
    <header
      class="grid-pattern-background relative py-12"
      style="--_num-lines: 5vmin; --_heigh-pattern: 40vh;"
    >
      <div
        class="absolute left-1/2 top-1/2 h-80 w-full -translate-x-1/2 -translate-y-3/4 rounded-[100%] opacity-70 blur-[60px] bg-[#360b0b] -z-10"
      >
      </div>
      <h1
        class="-skew-y-6 font-audioWide px-5 text-5xl md:text-6xl text-center"
        transition:name=`group-name-${group}`
      >
        Grupo <br />
        <span class="inline-flex mt-1.5 text-7xl md:text-8xl">{group}</span>
      </h1>
    </header>
  </div>
  <Container class:list={["max-w-7xl"]}>
    <main class="px-3 sm:px-7 mt:px-10 mt-14 mb-32 lg:mt-20 lg:mb-40">
      <div class="grid grid-cols-3">
        <Match />
        <Match />
        <Match />
      </div>
    </main>
  </Container>
</Layout>
