---
import Container from "@/components/Container.astro";
import BarChartAwards from "@/components/BarChartAwards.astro";
---

<section class="my-36" id="premios">
  <Container class:list={["max-w-7xl"]}>
    <hgroup class="mb-16">
      <h2
        class="py-2 text-4xl font-bold font-audioWide text-center bg-gradient-to-b from-neutral-200 to-red-300 text-transparent bg-clip-text xs:text-5xl"
      >
        Premios
      </h2>
      <p
        class="mt-4 text-center text-base md:text-lg text-gray-200 max-w-5xl mx-auto"
      >
        Estamos encantados de reconocer a los destacados participantes que
        aportaran pasión, habilidad y deportividad al Torneo de las Fresass, por
        ello nos sentimos honrados de entregar los siguientes premios:
      </p>
    </hgroup>

    <BarChartAwards />
  </Container>
</section>
