---
import Container from "@/components/Container.astro";

const navLinks = [
  {
    text: "Reglas",
    href: "#reglas",
  },
  {
    text: "Agenda",
    href: "",
  },
  {
    text: "Patrocinadores",
    href: "",
  },
  {
    text: "Premios",
    href: "",
  },
];
---

<header class="w-full">
  <Container>
    <nav class="w-fit mx-auto hidden sm:block">
      <ul
        class="px-10 py-5 flex justify-center gap-x-12 border border-content rounded-full"
      >
        {
          navLinks.map((navLink) => {
            return (
              <li class="font-bold lg:text-lg text-content opacity-75 hover:opacity-100 hover:drop-shadow-custom transition-opacity">
                <a href={navLink.href} class="">
                  {navLink.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </Container>
</header>
