---
import Container from "@/components/Container.astro";
import MoneyIcon from "@/components/icons/Money.astro";
import RaquetIcon from "@/components/icons/Raquet.astro";
import ShirtIcon from "@/components/icons/Shirt.astro";
import PlayerIcon from "@/components/icons/Player.astro";
import PhaseIcon from "@/components/icons/Phase.astro";
import CardContainer from "@/components/CardContainer.astro";
---

<section class="mt-40 mb-40" id="reglas">
  <Container class:list={["max-w-7xl"]}>
    <hgroup class="mb-16">
      <h2
        class="py-2 text-4xl font-bold font-audioWide text-center bg-gradient-to-r from-white to-red-500/95 text-transparent bg-clip-text xs:text-5xl"
      >
        Asi se jugará
      </h2>
      <p
        class="mt-4 text-center text-base md:text-lg text-gray-300 max-w-5xl mx-auto"
      >
        Prepárate para <strong
          >la segunda edición del Torneo de las Fresas</strong
        > la competencia de frontenis que te hará sudar y disfrutar al máximo. A
        continuación, te presentamos <strong>las reglas oficiales</strong> para que
        puedas ir calentando y preparando tu estrategia ganadora:
      </p>
    </hgroup>
    <div
      class="grid grid-cols-2 md:grid-cols-4 md:grid-rows-[repeat(3,auto)] gap-7 lg:gap-6"
    >
      <CardContainer
        class:list={[
          "col-span-2 sm:row-span-2 md:text-lg flex flex-col gap-y-5 justify-center group",
        ]}
      >
        <span
          class="flex justify-center text-primary group-hover:scale-110 transition-transform"
        >
          <MoneyIcon class:list={["w-32 h-32 md:w-auto md:h-auto"]} />
        </span>
        <div>
          <h3 class="text-3xl font-bold">Inscripciones y dinamica</h3>
          <ul class="mt-3 leading-relaxed list-disc pl-5">
            <li>
              El costo de la inscripción por persona es de <strong
                class="text-primary underline w-">$350 MXN</strong
              >
            </li>
            <li>El número de parejas participantes sera de 36.</li>
            <li>
              El número de grupos seran 12, donde en cada grupo habran 3
              parejas.
            </li>
          </ul>
        </div>
      </CardContainer>
      <CardContainer
        class:list={[
          "col-span-2 sm:col-span-1 md:col-span-2 flex flex-col md:flex-row gap-x-3 gap-y-2 items-center group",
        ]}
      >
        <span
          class="flex justify-center text-primary group-hover:scale-105 transition-transform"
        >
          <RaquetIcon class:list={["w-24 h-24 lg:w-auto lg:h-auto"]} />
        </span>
        <div>
          <h3 class="text-3xl font-bold">Canchas y pelota</h3>
          <ul class="mt-3 leading-relaxed list-disc pl-5">
            <li>El número de canchas destinadas para los partidos serán 3.</li>
            <li>
              La pelota del torneo será HEAD o MasterPro Pre-Olímpico, sin
              embargo se les hace la petición a cada pareja de llevar una bola.
            </li>
          </ul>
        </div>
      </CardContainer>
      <CardContainer
        class:list={[
          "col-span-2 sm:col-span-1 md:col-span-2 flex flex-col-reverse sm:flex-col md:flex-row gap-x-3 gap-y-2 items-center group",
        ]}
      >
        <div>
          <h3 class="text-3xl font-bold">Consejos</h3>
          <ul class="mt-3 leading-relaxed list-disc pl-5">
            <li>
              Las parejas deberán ir uniformados, playera del mismo color o
              similar.
            </li>
            <li>
              Los lentes de protección no son obligatorios, más si
              recomendables.
            </li>
            <li>Recomendable el uso de gorra y bloqueador.</li>
          </ul>
        </div>
        <span
          class="flex justify-center text-primary group-hover:scale-105 transition-transform"
        >
          <ShirtIcon class:list={["w-24 h-24 lg:w-auto lg:h-auto"]} />
        </span>
      </CardContainer>
      <CardContainer
        class:list={[
          "col-span-2 xl:col-span-3 flex flex-col xl:flex-row gap-x-3 items-center group",
        ]}
      >
        <span
          class="flex justify-center text-primary mb-6 group-hover:scale-105 transition-transform"
        >
          <PlayerIcon class:list={["w-32 h-32 md:w-auto md:h-auto"]} />
        </span>
        <div>
          <h3 class="text-3xl font-bold">El juego</h3>
          <ul class="mt-3 leading-relaxed list-disc pl-5">
            <li>
              Partido a 10 pts o 20 min. Gana quien llegue a 10 o esté arriba en
              el marcador al acabar el tiempo.
            </li>
            <li>Bola de saque, se jugará un punto para ver quien saca</li>
            <li>
              El tiempo limite de espera antes de marcar la perdida por default
              de un partido es de 5 minutos.
            </li>
            <li>
              En caso de que una pareja decida no jugar alguno de sus partidos,
              se dará la perdidad por default y solo 5 puntos serán asignados a
              la pareja vencedora.
            </li>
            <li>
              La pareja ganadora de cada encuentro, se encargará de fungir como
              juez en el proximo partido; juez de linea y juez central
            </li>
          </ul>
        </div>
      </CardContainer>
      <CardContainer class:list={["col-span-2 xl:col-span-1 self-start group"]}>
        <span
          class="flex justify-center text-primary mb-6 group-hover:scale-105 transition-transform"
        >
          <PhaseIcon class:list={["w-24 h-24 lg:w-auto lg:h-auto"]} />
        </span>
        <div>
          <h3 class="text-3xl font-bold">Siguiente Fase</h3>
          <ul class="mt-3 leading-relaxed list-disc pl-5">
            <li>
              Por sistema de doble eliminación, una pareja queda eliminada del
              torneo tras perder dos partidos.
            </li>
            <li>
              Avanzan a la siguiente fase las dos primeras parejas de cada
              grupo.
            </li>
          </ul>
        </div>
      </CardContainer>
    </div>
  </Container>
</section>
