---
import Container from "./Container.astro";
---

<section class="mt-36 mb-46">
  <Container class:list={["max-w-7xl"]}>
    <hgroup class="mb-16">
      <h2
        class="py-2 text-4xl font-bold font-audioWide text-center bg-gradient-to-b from-neutral-200 to-red-300 text-transparent bg-clip-text xs:text-5xl"
      >
        Adquiere tu playera conmemorativa
      </h2>
    </hgroup>

    <article
      class="animation__revealing grid md:grid-cols-[auto_1fr] gap-y-10 gap-x-12 justify-center"
    >
      <div class="">
        <picture class="mx-auto max-w-[320px] lg:max-w-[400px] block">
          <img
            src="/shirt-dark.webp"
            class="shirt__main max-w-full object-contain"
            alt="Playera cinmemorativa del torneo version light"
          />
        </picture>
        <div class="flex justify-center md:justify-start mt-3 gap-x-2">
          <button class="shirt__variant-btn" disabled="true">
            <picture class="max-w-[80px] block">
              <img
                src="/shirt-dark.webp"
                loading="lazy"
                class="max-w-full object-contain"
                alt="Playera cinmemorativa del torneo version light"
              />
            </picture>
          </button>
          <button class="shirt__variant-btn">
            <picture class="max-w-[80px] block">
              <img
                src="/shirt-light.webp"
                loading="lazy"
                class="max-w-full object-contain grayscale"
                alt="Playera cinmemorativa del torneo version light"
              />
            </picture>
          </button>
        </div>
      </div>

      <aside class="px-5 md:px-0 text-center md:text-start">
        <h3 class="font-bold text-2xl">
          ¡Destaca en el Torneo de las Fresas con la playera oficial!
        </h3>
        <p class="mt-3 mb-7">
          Luce como un campeón con la playera oficial del Torneo de las Fresas.
          Este año, nuestro diseño exclusivo rinde homenaje a la fresa, fruta
          deliciosa y símbolo del torneo, con un toque especial que refleja tu
          pasión por el frontenis.
        </p>
        <div class="inline-flex flex-col">
          <a
            href=""
            aria-disabled="true"
            aria-label="adquirir la playera del torneo, se abrirá en una nueva pestaña"
            class="w-fit bg-gray-600 text-gray-400 px-7 py-3 text-lg inline-block border border-black rounded-md pointer-events-none"
            rel="noopener norefer"
            target="_blank">Adquirir</a
          >
          <span class="mt-1 text-sm text-red-200 self-center">Muy pronto</span>
        </div>
      </aside>
    </article>
  </Container>
</section>

<script>
  const shirtsGalleryBtns = document.querySelectorAll(".shirt__variant-btn");
  const mainShirt = document.querySelector(".shirt__main");

  const deactivatedShirts = () => {
    shirtsGalleryBtns.forEach((shirtBtn) => {
      const miniImg = shirtBtn.querySelector("img");
      if (shirtBtn.getAttribute("disabled")) {
        miniImg?.classList.add("grayscale");
        shirtBtn.removeAttribute("disabled");
        return;
      }
      miniImg?.classList.remove("grayscale");
      shirtBtn.setAttribute("disabled", "true");
    });
  };

  shirtsGalleryBtns.forEach((btn) =>
    btn.addEventListener("click", () => {
      const imgEl = btn.querySelector("img");
      if (!imgEl) return;
      const imgSrc = imgEl.getAttribute("src");
      mainShirt?.setAttribute("src", imgSrc);
      deactivatedShirts();
    })
  );
</script>
