---
import Container from "@/components/Container.astro";
import Scroller from "@/components/Scroller.astro";

const sponsors = [
  {
    name: "Cryspura",
    image: "cryspura.webp",
    href: "https://www.cryspuraice.com.mx/",
  },
  {
    name: "Servicom",
    image: "servicom.webp",
    href: "/",
  },
  {
    name: "DeepEco",
    image: "deepeco.svg",
    href: "https://deepeco.com.mx/",
  },
  {
    name: "Helados Irapuato",
    image: "helados-irapuato.webp",
    href: "/",
  },
  {
    name: "Dimatec",
    image: "dimatec.webp",
    href: "https://dimatec.mx/",
  },
  {
    name: "Comudaj",
    image: "comudaj.webp",
    href: "https://www.irapuato.gob.mx/comudaj/",
  },
  {
    name: "Helados El rey",
    image: "helados-rey.webp",
    href: "",
  },
  {
    name: "Asociación de Pelota Vasca",
    image: "vasca.webp",
    href: "",
  },
  {
    name: "Ayuntamiento de Irapuato",
    image: "ayuntamiento.webp",
    href: "https://www.irapuato.gob.mx/",
  },
];
---

<section class="mt-32 mb-28 md:mt-40 md:mb-36" id="patrocinadores">
  <Container class:list={["max-w-7xl"]}>
    <hgroup class="mb-5">
      <h2
        class="py-2 text-4xl font-bold font-audioWide text-center bg-gradient-to-b from-neutral-200 to-red-300 text-transparent bg-clip-text xs:text-5xl"
      >
        Patrocinadores
      </h2>
      <p class="mt-4 text-center text-base md:text-lg text-gray-200">
        ¡Gracias a ellos hacemos posible el evento!
      </p>
    </hgroup>

    <Scroller items={sponsors} />
  </Container>
</section>
